pom.xml
Gemfile.lock
pom.xml.asc
*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.lein-deps-sum
.lein-repl-history
.lein-plugins/
.lein-failures
.nrepl-port
.cpcache/
_site
.sass-cache
.jekyll-metadata
*.bkp
*.DS_Store
